*, *::before, *::after {box-sizing: border-box;}
* {margin: 0; padding: 0;}
/* html, body {height: 100%;} */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: #323232;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    backdrop-filter: brightness(90%);
    color: rgb(255, 255, 255);
    font-family: sans-serif;
}

img, picture, video, canvas, svg {display: block; max-width: 100%;}
input, button, textarea, select {font: inherit;}
p, h1, h2, h3, h4, h5, h6 {overflow-wrap: break-word;}
#root, #__next {isolation: isolate; overflow-x: hidden; height: 100vh;}

::-moz-selection {
    color: white;
    background: #a40e16;
}
  
::selection {
    color: white;
    background: #a40e16;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: none;
    scrollbar-color: #363636 transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #363636;
    border-radius: 26px;
    border: 18px solid #2e2e2e;
}